# {{ ansible_managed }}
# aries version: {{ agent_version }}


[Unit]
Description=KRAKEN {{ agent_context | capitalize }} Aries service
ConditionPathExists={{ path_binary }}
After=network.target
 
[Service]
Type=simple
User=nginx
Group=nginx

Restart=on-failure

WorkingDirectory={{ path_workdir }}
ExecStart={{ path_binary }} start

SyslogIdentifier=KrakenAgent{{ agent_context | capitalize }}

[Service]
{% for key, value in agent_env.items() %}
Environment="{{ key }}={{ value }}"
{% endfor %}

[Install]
WantedBy=multi-user.target
